@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Lato", sans-serif; */

@media (max-width: 495px) {
    .collNav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width : 500px){
    .hero-ai{
        padding: 1rem;
    }
}

.ai-head {
    font-family: "Roboto", sans-serif;
    color: #003C5D;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.view-Ai{
    width: 11rem;
}

@media(max-width : 500px){
    .view-Ai{
        width: 17rem;
    }
}

.auditCycle,
.improvement {
    width: 38vw;
}

.auditCycle p,
.improvement p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #003C5D;
}

.auditCycle select,
.improvement select {
    width: 35%;
    border: none;
    border-bottom: 2px solid #DDE1E6;
    padding-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #9CA3AF;
}

.total,
.positive,
.neutral,
.negative {
    border-radius: 15px;
    width: 300px;
    height: 90px;
    padding-top: 0.5rem;
}

.sq-slash {
    height: 23px;
    width: 20px;
    background-color: #007DC1;
    border-radius: 5px;
}

.sq-slash i {
    font-size: 12px;
    color: white;
    font-weight: 700;
}

.total-upper p {
    font-family: "Lato", sans-serif;
    color: #353E4C;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.total-lower span {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #353E4C;
}

.last-month {
    background-color: white;
    width: 112px;
    height: 22px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    line-height: 12px;
    border-radius: 5px;
}

.last-month p{
    color: #007DC1;
    font-size: 10px;
}

.bubbleChart {
    min-height: 343px;
}

.pos-res-head {
    height: 51px;
    border-radius: 10px;
}

.pos-res-head {
    color: #353E4C;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

table{
    text-align: left;
}

.res-main{
    border-radius: 15px;
}

.table-left td{
    background-color: white !important;
}

.leftText {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #003C5D;
    width: 10rem;
    height: 2rem;
    background-color: white !important;
}

.rightText {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #6B7280;
    height: 2rem;
    background-color: white !important;
}

.view-report {
    width: 166px;
    height: 41px;
    border: 2px solid #007DC1;
    border-radius: 8px;
}

.view-report p {
    color: #007DC1;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.nps-head-p {
    color: #003C5D;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.hero-forth {
    margin-top: 1.25rem;
    /* equivalent to mt-5 */
}

.accordion {
    width: 100%;
}

.accordion-item {
    border: 0;
    outline: none;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
}

.accordion-button {
    background-color: #fafafa;
    padding: 10px 0;
    padding-right: 16px;
}

.accordion-button::after {
    font-size: 1.2rem;
    color: #666;
}

.audit-details {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #4b5563;
    border-left: 5px solid #4b5563;
    background-color: #fafafa;
    height: 26px;
}

.accordion-body1 {
    background-color: #fafafa;
    padding: 2rem !important;
}

.summary {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #007dc1;
    min-height: 60px;
    background-color: #fafafa;
}