@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Lato", sans-serif; */

.dashHeading {
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: start;
    color: #003C5D;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.dashFirst {
    min-height: 53vh;
}

.firstRight {
    height: 55vh;
}

.firstHeading {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: #003C5D;
    max-height: 1rem;
}

.firstLeft {
    min-height: 44vh;
    margin: 0;
}

.l1First {
    height: 93.5%;
}

.l1 {
    height: 45%;
}

@media(min-width: 576px) {
    .l1 {
        height: 85%;
    }
}

.divCalender {
    height: 94%;
}

.heroDashboard {
    min-height: auto;
}

.auditCycle, .improvement {
    width: 38vw;
}

.auditCycle p, .improvement p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #003C5D;
}

.auditCycle select, .improvement select {
    width: 35%;
    border: none;
    border-bottom: 2px solid #DDE1E6;
    padding-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #9CA3AF;
}

@media(max-width: 391px) {
    .auditCycle {
        width: 100%;
    }
    .dashSecHead {
        justify-content: center;
        align-items: center;
    }
    /* .auditCycleRight {
        margin: 10px auto;
    } */
    /* .auditCycle select {
        width: 60%;
        margin: 0 auto;
    } */
    .auditCycle p {
        margin: 1rem auto;
    }
}  

@media(max-width : 393px){
    .dashThirdHead{
        justify-content: center;
        align-items: center;
    }
    .improvement select{
        width: 100%;
    }
} 

.addSection{
    height : 85%;
    width : 140px;
    border-radius: 10px;
    border : 1px solid #007DC1;
    color: #007DC1;
}

.addSection p{
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.auditCycleRight{
    justify-content: center;
    cursor: pointer;
}

.dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

@media(max-width : 420px){
    .auditCycleRight{
        width: 100vw;
        justify-content: space-between;
    }
}

.row1, .row2{
    height: 50%;
}

.downIcon img{
    height: 1.2rem;
}

.downIcon{
    background-color: #007DC1;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.secHeroLeft{
    height: 50%;
}

.dashSecHero{
    height: 85%;
}

.dashSecond{
    min-height: 35vh;
}

.secHead{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #007DC1;
    line-height: 1.4rem;
    text-align: start;
}

.secHeroSection{
    height: 80%;
    padding: 1rem 1.8rem;
    border-left: 2px solid #D1D5DB;
    background-color: #FAFAFA;
}

.section1{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1rem;
}

.perPara{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: #9CA3AF;
    text-align: start;
    margin: 0;
}

.secPara{
    text-align: start;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #9CA3AF;
    margin-top: 5px;
}

.dashThird{
    min-height: auto;
}

table {
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 0;
}

table, th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc; 
}

th {
    background-color: #f2f2f2; 
    color: #353E4C; 
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.82rem !important;
}

td {
    background-color: white;
    font-family: "Lato";
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
}

.tScore {
    background-color: #d9534f; 
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    display: inline-block;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}

.dashForth {
    min-height: 38vh;
    width: 100%;
}


.overallPara p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #003C5D;
}

.overallPara p span{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: #003C5D;
}

.customerArr{
    background-color: #007DC1;
    height: 3rem;
    text-align : start;
    padding: 1rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1rem;
}

.fifthTable table {
    width: 100%;
    border-collapse: collapse; /* Ensure there is no extra spacing around table cells */
}

.tTf{
    font-family: "Roboto", sans-serif; 
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1rem;
    color : #003C5D;
}

.tPer{
    width: 2.3rem;
    height: 2rem;
    background-color: #D7F1FF;
    color : #007DC1;
    font-family: "Roboto", sans-serif; 
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1rem;
    border-radius: 10px;
}

.tdFirst{
    width: 90%;
    margin-top : 0.2rem
}

