@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Lato", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "DM Sans", sans-serif; */

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 495px) {
    .collNav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

nav{
    height: 100px;
}

.navb {
    padding: 0 4.7rem;
    background-color: #FAFAFA;
}

.header {
    border-bottom: 2px solid #DDE1E6;
}

.logo {
    height: auto;
    width: 160px !important;
    padding: 1rem 1rem;
}

.bellIcon i,
.globeIcon i,
.logOut i {
    height: 20px;
    width: 20px;
    font-weight: 500;
}

.lang {
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
}

.logOut p,.bellIcon p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: #9CA3AF;
}

.bellIcon p{
    color: black;
}

.logOut i {
    width: 12px;
    height: 1.6rem;
    color: #9CA3AF;
    margin-left: 0.5rem;
}

.dashboard,
.reportBrowser,
.actionTrack,
.upAudits,
.storeBrowser,
.storePer{
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
    height: 2.7rem;
    color: #9CA3AF;
    font-weight: 400;
    background-color: white;
    cursor: pointer;
}

.bg-active {
    background-color: #007DC1;
    color: white;
}   

.bg-active img{
    filter: brightness(0) invert(1);
}

.ai{
    width: 145px;
    height: 2.7rem;
    padding: 10px 24px;
    border-radius: 8px;
    margin: 0.6rem 0;
    font-weight: 400;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #8DC63F, #007DC1);
    border-image-slice: 1;
    cursor: pointer;
}

.ai p, .ai i{
    background: linear-gradient(90deg, #8DC63F, #007DC1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.view-Ai {
    width: 145px;
    height: 2.7rem;
    padding: 10px 24px;
    background: linear-gradient(90deg, #8DC63F 0%, #007DC1 100%);
    border-radius: 8px;
}

.view-Ai i {
    font-size: 12px;
    color: #FAFAFA;
}

.view-Ai p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #FAFAFA;
    font-size: 14px;
    line-height: 15px;
    height: 15px;
}

.storePer {
    width: 12rem;
}

.storeBrowser {
    width: 9.5rem;
}

.dashboard {
    width: 9rem;
}

.upAudits {
    width: 11.7rem;
}

.actionTrack {
    width: 9.8rem;
}

.reportBrowser {
    width: 11rem;
}

@media(max-width : 1300px) {

    .dashboard,
    .reportBrowser,
    .actionTrack,
    .upAudits,
    .storeBrowser,
    .storePer,
    .AI {
        width: 11rem;
    }
}

.dashboard p,
.reportBrowser p,
.actionTrack p,
.upAudits p,
.storeBrowser p,
.storePer p,
.AI p {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    padding-top: 6px;
}

.dashboard i,
.reportBrowser i,
.actionTrack i,
.upAudits i,
.storeBrowser i,
.storePer i,
.AI i {
    width: 1.2rem;
    height: 1.2rem;
}

img{
    height: 18px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    background-color: #FAFAFA;
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebar-open {
    right: 0;
}

.py12 select{
    width: auto;
    height: 45px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    line-height: 15px;
    color: #FAFAFA;
    padding: 10px 24px;
    background-color: #007DC1;
    outline: none;
    border-radius: 5px;
}

