@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Lato", sans-serif; */

.repoHead{
    /* width : 12rem; */
    height : 1.5rem;
    color : #003C5D;
    font-size: 1.3rem;
    font-weight: 500;
}

.head{
    min-height: 3.8rem;
}

.repotPara{
    font-family: "Roboto", sans-serif;
}

.exportList{
    background-color: #007DC1;
    color: white;
    width : 7.2rem;
    height: 100%;
    gap : 0.5rem;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    line-height: 1.3rem;
}

.searchIn{
    width: 90%;
    gap : 0.5rem;
}

.inputSearch{
    width: 30%;
    border-radius: 5px;
    border : 1px solid #353E4C;
}

.inputSearch input{
    width: 100%;
}

.inputSearch i{
    color: #353E4C;
    font-size: 1rem;
}

.inputSearch img{
    height: 1rem;
}

.searchStore{
    height: 3rem;
}

.clearFilter{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    cursor: pointer;
    color : #007DC1;
    text-decoration: underline;
    width: 6rem;
}

.clearFilter p{
    width: 100%;
    text-align: end;
}

.dropList {
    font-family: "Lato", sans-serif;
    color : #353E4C;
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;  
    cursor: pointer;
}

.dropdownNes {
    position: relative;
}

.dropdownNes select{
    height: 3rem;
    width: 12vw;
    border-radius: 5px;
    border : 1px solid #353E4C;
    outline : none;
    padding-left: 0.5rem;
}

select {
    width: 12%;
    border: none;
    border-bottom: 2px solid #DDE1E6;
    padding-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #9CA3AF;
    outline: none;
}

.dropdownNes option{
    font-family: "Lato", sans-serif;
    color : #353E4C;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;  
    cursor: pointer;
}

.filterParent{
    width: 50vw;
}

.dropList i{
    font-size: 1.5rem;
}

.storeSearch{
    width: 99%;
    height: 90%;
    border : none;
    outline : none;
}

.storeSearch::placeholder{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color : #353E4C;
    font-size: 1rem;
    line-height: 19px;
}

.filter{
    width: 7rem;
    border: 1px solid #007DC1;
    border-radius: 5px;
    padding : 12px 24px;
    color : #007DC1;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    line-height: 16px;
}

@media (max-width : 576px){
    .storeSearch::placeholder{
        color: transparent;
    }
    .filterText{
        display: none;
    }
    .filter{
        width: 3rem;
        height: 3rem;
    }
}

.filterIcon{
    font-size: 1.5rem;
}

.clearFilter{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    color : #007DC1;
    text-decoration: underline;
    width: 6rem;
}

.clearFilter p{
    width: 100%;
    text-align: end;
}

.marksContainer {
    background-color: #8DC63F;
    border-radius: 5px;
    padding: 11px;
    text-align: center;
    width: 50px;
    color : white;
    margin : 0 auto;
    padding-right: 20px !important;

}

.progressBarContainer {
    position: relative;
    border-radius: 5px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : "2rem"
}

.dash1 {
    height: 11px; 
    border-radius: 5px;
    width: 40px;
    margin-bottom: 1rem;
    margin-top : 0.3rem;
}

.tdFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.downIcon img{
    height: 1.2rem;
}

.progressBarContainer span{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
}

@media (max-width : 576px){
    .inputSearch img{
        display: none;
    }
}

.reportBtn{
    height : 40px;
    width : 100px;
    background-color: #007DC1;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    color : white;
    font-weight: 600;
    line-height: 14px;
    border: none;
    outline: none;
    font-size: 13px;
}

/* Calender */

.calendarContainer {
    position: absolute;
    /* top: 100%;  */
    left: 0;
    z-index: 100;
    width: 20vw;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
}

.startDateP{
    height: 3rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color : #353E4C;
    font-size: 1rem;
    line-height: 19px;
    border-radius: 5px;
    border : 1px solid #353E4C;
    width: 12vw;
    cursor: pointer;
}

