@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Lato", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "DM Sans", sans-serif; */

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perf-p{
    color : #9CA3AF;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.sp {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color : #003C5D;
    margin: 0;
}

.searchIn{
    width: 90%;
    gap : 0.5rem;
}

.inputSearch{
    width: 35%;
    border-radius: 5px;
    border : 1px solid #353E4C;
}

.inputSearch i{
    color: #353E4C;
    font-size: 1rem;
}

.searchStore{
    height: 3rem;
}

.storeSearch{
    width: 99%;
    height: 90%;
    border : none;
    outline : none;
}

.storeSearch::placeholder{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color : #353E4C;
    font-size: 1rem;
    line-height: 19px;
}

.filter{
    width: 7em;
    border: 1px solid #007DC1;
    border-radius: 5px;
    padding : 12px 24px;
    color : #007DC1;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

.filterIcon{
    font-size: 1.5rem;
}

@media (max-width : 576px){
    .storeSearch::placeholder{
        color: transparent;
    }
    .filterText{
        display: none;
    }
    .filter{
        width: 3rem;
        height: 3rem;
    }
}


.perf-lower p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color : #003C5D;
}

table, th, td{
    border: 1px solid #ccc; 
}

th {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    height : 67px;
    color : #353E4C;
    background-color: #f2f2f2; ;
}

td{
    color: #353E4C;
    font-weight: 400;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    line-height: 14px;
    height: 50px;   
}

.row-maxmarks{
    height: 30px;
    width: 50px;
    color: white;
    border-radius: 5px;
    background-color: #007DC1;
    font-weight: 500;
}

.row-marks{
    height: 29px;
    width: 23px;
    border-radius: 5px;
}

.row-marks.highlight {
    background-color: #8DC63F; 
    color: white;
}

.row-marks{
    height: 29px;
    width: 23px;
    border-radius: 5px;
}

@media (max-width : 600px){
    .row-marks{
        padding-left: 0.4rem;
    }
}

@media (max-width : 567px){
    .audit{
        width: 30rem;
    }
}

.marks{
    background-color: transparent;
}



