/* AuditCalendar.css */
.calendar-container {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 320px;
  }
  
  .date-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height : 100%;
  }

  .divCol{
    overflow: auto;
    margin : 1rem 0;
    height: 100%;
    
  }

  .divCol::-webkit-scrollbar {
    display: none;
  }
  
  .date-box {
    cursor: pointer;
    border-radius: 4px;
    width : 3.8rem;
    height: 3.2rem;
    color : #121D22;
    opacity: 0.19;
  }
  
  .iDate{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .iDay{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .date-box.selected {
    background-color: #007DC1;
    opacity: 1;
    color: white;
  }
  
  .audit-info {
    width: 75%;
    height: 90%;
    overflow: auto;
  }

  .audit-info::-webkit-scrollbar {
    display: none;
  }
  
  .audit-box {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width : 100%;
    background-color: #D1D5DB;
    opacity: 0.19;
    color : #003C5D;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  .audit-box.selected {
    background-color: #007DC1;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width : 100%;
    opacity: 1;
  }
  
  .audit-box p {
    margin: 10px 0;
  }
  